// --- fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
// font-family: 'Inter', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
// font-family: 'Yeseva One', cursive;
// === / fonts
// --- mixins
// === / mixins
// --- variables
$screen_xs_max: 575.98px;
$screen_sm_max: 767.98px;
$screen_md_max: 991.98px;
$screen_lg_max: 1199.98px;
$screen_xl_max: 1399.98px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
$screen_xxl: 1400px;
// ---
$color_primary: #FFCC63;
// === / variables
// --- commons
* {
    box-sizing: border-box;
}

.body {
    background: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    p {
        font-weight: bold;
    }
    a,
    a:hover {
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: #fff;
    }
    a.brand_label:hover {
        color: $color_primary;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .color_brand {
        color: $color_primary;
    }
    .button {
        position: relative;
        z-index: 1;
        display: inline-block;
        font-family: 'Yeseva One', cursive;
        text-align: center;
        border: 2px solid $color_primary;
        padding: 4px 22px;
        border-radius: 5px;
        font-size: 24px;
        transition: .3s;
        &__primary {
            color: #fff;
        }
        &__secondary {
            background-color: rgba($color: #000000, $alpha: 0);
            font-family: 'Inter', sans-serif;
            color: $color_primary;
        }
        &:hover {
            background-color: $color_primary;
            color: #000;
            padding: 4px 22px;
        }
    }
    .social_list img {
        width: 27px;
    }
    .container {
        max-width: 1024px;
        @media (max-width: $screen_xs_max) {
            padding-left: 30px;
            padding-right: 30px;
        }
        @media (min-width: $screen_sm) and (max-width: $screen_md_max) {
            padding-left: 60px;
            padding-right: 60px;
        }
        @media (min-width: $screen_lg) and (max-width: $screen_lg_max) {
            padding-left: 100px;
            padding-right: 100px;
        }
    }
    .brand_label {
        font-family: 'Yeseva One', cursive;
        font-weight: normal;
        color: $color_primary;
    }
    .section_title {
        font-family: 'Yeseva One', cursive;
        @media (max-width: $screen_xs_max) {
            font-size: 24px;
            margin-bottom: 50px;
            text-align: center;
        }
        @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {
            font-size: 36px;
            margin-bottom: 70px;
        }
        @media (min-width: $screen_xl) {
            font-size: 48px;
            margin-bottom: 100px;
        }
    }
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 0;
    }
    .swiper-pagination-bullet {
        border: 1px solid #fff;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background-color: #fff;
    }
    .contacts_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        .contacts_list a {
            font-family: 'Yeseva One', cursive;
            font-size: 14px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
        }
        .social_list {
            margin-top: 30px;
            margin-bottom: 15px;
            display: flex;
            li+li {
                margin-left: 15px;
            }
        }
        .contacts_mail {
            font-weight: 600;
            font-size: 14px;
            color: #FFCC63;
        }
    }
    &.menu_active {
        overflow: hidden;
        .menu_button {
            justify-content: center;
            .button_item {
                &__outer {
                    opacity: 0;
                }
                &__middle {
                    transform: rotate(45deg);
                    &::after {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
        .menu {
            opacity: 1;
            visibility: visible;
        }
    }
}

section {
    @media (max-width: $screen_lg_max) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media (min-width: $screen_xl) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

// === / commons
// --- header
.header {
    padding: 28px 0;
    .menu_button {
        position: relative;
        z-index: 11;
        margin-top: 6px;
        width: 27px;
        height: 14px;
        // margin-right: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .button_item {
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: $color_primary;
            transition: .3s;
            &__middle {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $color_primary;
                    transition: .3s;
                }
            }
        }
    }
    .phone_numbers a {
        white-space: nowrap;
        font-size: 16px;
    }
    @media (max-width: $screen_xs_max) {
        .menu {
            position: fixed;
            z-index: 10;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: #000;
            opacity: 0;
            visibility: hidden;
            transition: .3s;
            .menu_list {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 80px 0;
                li+li {
                    margin-top: 10px;
                }
                a {
                    font-weight: bold;
                    font-size: 24px;
                    letter-spacing: 0.02em;
                    color: #FFCC63;
                }
            }
        }
    }
    @media (min-width: $screen_sm) {
        .menu .menu_list {
            display: flex;
            li+li {
                margin-left: 20px;
            }
            a {
                font-weight: bold;
                font-size: 21px;
                letter-spacing: 0.02em;
                color: #FFCC63;
            }
        }
        .brand_label {
            font-size: 36px;
        }
    }
    @media (min-width: $screen_lg) {
        .menu .menu_list {
            justify-content: flex-end;
            a {
                font-size: 24px;
            }
        }
        .phone_numbers {
            a {
                font-size: 20px;
            }
        }
    }
    @media (min-width: $screen_xl) {
        position: absolute;
        z-index: 12;
        left: 0;
        top: 0;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: .8);
        .container {
            position: relative;
        }
        .phone_numbers_wrap {
            position: absolute;
            right: 0;
            top: 100px;
        }
        .menu .menu_list {
            li {
                border-bottom: 2px solid rgba($color: #000000, $alpha: 0);
                transition: .3s;
                &:hover {
                    border-color: $color_primary;
                }
            }
            li+li {
                margin-left: 50px;
            }
        }
        .contacts_list {
            width: 140px;
        }
    }
}

// === / header
// --- section_intro
.section_intro {
    overflow: hidden;
    position: relative;
    .intro_text {
        position: relative;
        z-index: 1;
        font-family: 'Yeseva One', cursive;
    }
    @media (max-width: $screen_xs_max) {
        background: url(../img/intro-mobile.jpg) no-repeat 50% 50%;
        background-size: cover;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: .5);
        }
        .intro_button {
            margin-top: 50px;
            .button {
                width: 100%;
            }
        }
    }
    @media (min-width: $screen_sm) {
        padding: 0;
        .swiper-intro {
            overflow: hidden;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                z-index: 1;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: .5);
            }
            .intro_text {
                position: absolute;
                z-index: 2;
                top: 70px;
                .brand_label {
                    font-size: 64px;
                    margin-bottom: 40px;
                }
                p {
                    font-size: 36px;
                    font-weight: normal;
                    margin-bottom: 90px;
                }
            }
            .swiper-button-next {
                color: $color_primary;
            }
            .swiper-pagination-fraction {
                bottom: 0px;
                left: 40px;
                width: 100px;
            }
            .swiper-pagination {
                font-family: 'Yeseva One', cursive;
                font-size: 24px;
                text-align: right;
                .swiper-pagination-current {
                    font-size: 36px;
                    color: $color_primary;
                    position: relative;
                    bottom: 14px;
                    left: 6px;
                    &::before {
                        content: "0";
                        margin-right: 2px;
                    }
                }
                .swiper-pagination-total {
                    position: relative;
                    right: 6px;
                }
            }
        }
    }
    @media (min-width: $screen_lg) {
        .swiper-intro {
            .intro_text {
                position: absolute;
                z-index: 2;
                .brand_label {
                    font-size: 64px;
                    margin-bottom: 40px;
                }
            }
            .swiper-pagination-fraction {
                left: 80px;
            }
        }
    }
    @media (min-width: $screen_xl) {
        .swiper-intro {
            .swiper-slide {
                img {
                    width: 100vw;
                    height: 100vh;
                    object-fit: cover;
                }
            }
            .swiper-button-next {
                right: 40px;
            }
            .intro_text {
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                .brand_label {
                    font-size: 96px;
                    margin-bottom: 90px;
                }
                p {
                    margin-bottom: 100px;
                }
                .swiper-pagination-fraction {
                    left: -10px;
                }
            }
        }
    }
}

// === / section_intro
// --- section_promo
.section_promo {
    .text_top {
        span {
            color: $color_primary;
        }
    }
    @media (max-width: $screen_xs_max) {
        .text_top {
            font-size: 24px;
            span {
                color: $color_primary;
            }
        }
        .promo_image {
            margin-top: 34px;
            background: url(../img/promo-mobile.jpg) no-repeat 50% 50%;
            background-size: cover;
            text-align: center;
            font-family: 'Yeseva One', cursive;
            font-size: 24px;
            color: rgba($color: #000000, $alpha: 0);
            -webkit-text-stroke: 1px $color_primary;
            padding: 60px 0;
            letter-spacing: 1px;
        }
    }
    @media (min-width: $screen_sm) {
        .text_box {
            font-weight: 400;
            font-size: 22px;
        }
        .image_wrap {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: 12px;
                bottom: 0;
                width: 80%;
                height: 80%;
                border: 1px solid #FFCC63;
            }
            img {
                position: absolute;
                z-index: 1;
                left: 6px;
                top: 12px;
                width: 80%;
                height: 80%;
                object-fit: cover;
            }
        }
    }
    @media (min-width: $screen_lg) {
        .image_wrap {
            &::after {
                width: 85%;
                height: 85%;
            }
            img {
                width: 85%;
                height: 85%;
            }
        }
    }
    @media (min-width: $screen_xl) {
        .text_box p {
            font-weight: 500;
            font-size: 28px;
            margin-bottom: 20px;
        }
    }
}

// === / section_promo
// --- section_requirements
.section_requirements {
    ul {
        margin: 0 12px;
        li+li {
            margin-top: 20px;
        }
        li {
            font-weight: 600;
            color: #FFFFFF;
            background: url(../img/svg/check-marker.svg) no-repeat 0 6px;
            line-height: 2;
            padding-left: 40px;
        }
    }
    @media (min-width: $screen_sm) {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: wrap;
            height: 170px;
            li {
                width: 50%;
            }
        }
    }
    @media (min-width: $screen_xl) {
        ul {
            height: 230px;
            li {
                font-size: 24px;
                background-size: 30px;
                padding-left: 50px;
            }
        }
    }
}

// === / section_requirements
// --- section_about
.section_about {
    overflow: hidden;
    p {
        font-weight: bold;
        // font-size: 22px;
        span {
            color: $color_primary;
        }
    }
    @media (min-width: $screen_sm) {
        font-size: 24px;
    }
}

// === / section_about
// --- section_vacancies
.section_vacancies {
    overflow: hidden;
    position: relative;
    .vacancies_item {
        padding: 35px 25px;
        background-color: #fff;
        .vacancies_title {
            margin-top: 20px;
            font-weight: 500;
            font-size: 18px;
            color: #000000;
        }
        .vacancies_subtitle {
            margin-top: 10px;
            font-size: 18px;
            color: #515151;
        }
        .vacancies_description {
            margin-top: 10px;
            font-weight: bold;
            font-size: 12px;
            color: #000000;
            min-height: 75px;
        }
        .button {
            margin-top: 10px;
            font-size: 16px;
            width: 100%;
        }
    }
    @media (max-width: $screen_xs_max) {
        .section_title {
            margin-bottom: 0;
        }
        .swiper-slide {
            transition: .3s;
            width: 220px;
            margin: 60px 20px 80px;
            position: relative;
            transition: .3s;
            &::after {
                content: "";
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba($color: #000000, $alpha: .5);
                transition: .3s;
            }
        }
        .swiper-slide-active {
            transform: scale(1.05);
            &::after {
                z-index: 2;
                background-color: rgba($color: #000000, $alpha: 0);
            }
        }
    }
    @media (min-width: $screen_sm) and (max-width: $screen_md_max) {
        .container {
            padding-left: 30px;
            padding-right: 30px;
        }
        .section_title {
            padding-left: 40px;
        }
    }
    @media (min-width: $screen_sm) {
        .swiper-wrapper {
            display: flex;
            justify-content: space-between;
            .swiper-slide {
                max-width: 220px;
            }
        }
    }
    @media (min-width: $screen_lg) and (max-width: $screen_lg_max) {
        .container {
            padding-left: 100px;
            padding-right: 100px;
        }
        .section_title {
            padding-left: 12px;
        }
        .swiper-wrapper .swiper-slide {
            max-width: 252px;
        }
    }
    @media (min-width: $screen_xl) {
        .swiper-wrapper .swiper-slide {
            max-width: 315px;
        }
        .vacancies_item {
            .vacancies_title {
                font-weight: 500;
                font-size: 24px;
            }
            .vacancies_subtitle {
                font-size: 24px;
            }
            .vacancies_description {
                font-weight: bold;
                font-size: 16px;
                min-height: 100px;
            }
        }
    }
}

// === / section_vacancies
// --- section_gallery
.section_gallery {
    overflow: hidden;
    .image_wrap+.image_wrap {
        margin-left: 10px;
    }
    .image_wrap {
        img {
            width: 100%;
        }
    }
    @media (min-width: $screen_xl) {
        .image_wrap+.image_wrap {
            margin-left: 40px;
        }
    }
}

// === / section_gallery
// --- section_promo_second
.section_promo_second {
    overflow: hidden;
    @media (min-width: $screen_xl) {
        p {
            font-size: 24px;
        }
        img {
            height: 100%;
        }
    }
}

// === / section_promo_second
// --- section_advantages
.section_advantages {
    .advantages_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .advantages_icon {
            img {
                height: 150px;
            }
            margin-bottom: 50px;
        }
        .advantages_title {
            font-weight: 300;
            font-size: 24px;
            color: #FFFFFF;
            margin-bottom: 30px;
        }
        .advantages_description {
            font-weight: bold;
            font-size: 18px;
            color: #FFFFFF;
        }
    }
    .swiper-slide {
        padding: 0 20px;
        margin-bottom: 50px;
    }
    @media (min-width: $screen_sm) {
        .advantages_item {
            padding: 0 30px;
            .advantages_icon {
                img {
                    height: 82px;
                }
                margin-bottom: 40px;
            }
        }
    }
    @media (min-width: $screen_xl) {
        .swiper-wrapper {
            display: flex;
            flex-wrap: wrap;
            .swiper-slide {
                width: 340px;
            }
        }
        .advantages_item {
            padding: 0 10px;
        }
    }
}

// === / section_advantages
// --- section_feedback
.section_feedback {
    overflow: hidden;
    .section_title {
        margin-bottom: 50px;
    }
    .form_title {
        font-weight: bold;
        font-size: 16px;
        color: #757575;
        &.active {
            color: #FFFFFF;
        }
    }
    .nav {
        margin-bottom: 30px;
    }
    form {
        display: flex;
        flex-direction: column;
        .input_title {
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 14px;
            color: #757575;
        }
        input {
            margin-bottom: 15px;
            border: 1px solid #fff;
            background-color: #000;
            color: #fff;
            outline: none;
            font-size: 16px;
            padding: 7px;
        }
        [type=radio] {
            display: none;
        }
        [type=radio]:checked+label {
            .check_area {
                background: url(../img/svg/radio-checked.svg) no-repeat 50% 50%;
                background-size: cover;
            }
        }
        .radio_wrap {
            margin-bottom: 15px;
        }
        label {
            display: flex;
        }
        .check_area {
            display: inline-block;
            margin-right: 20px;
            width: 30px;
            height: 30px;
            border: 1px solid #FFCC63;
        }
        span {
            font-weight: bold;
            font-size: 18px;
            color: #C4C4C4;
        }
        button {
            margin-top: 25px;
            border: none;
            outline: none;
        }
    }
    .response {
        position: absolute;
        top: 40%;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        p {
            text-align: center;
        }
        p.response_title {
            color: #FFCC63;
            font-size: 22px;
        }
        &.active {
            margin-top: 100px;
            position: relative;
            opacity: 1;
            visibility: visible;
        }
    }
    @media (max-width: $screen_xs_max) {
        .button {
            width: 100%;
        }
    }
    @media (min-width: $screen_sm) {
        .section_feedback_outer {
            border: 3px solid #515151;
            padding: 50px 25px;
        }
        .section_feedback_inner {
            position: relative;
            min-height: 660px;
            img.feedback {
                position: absolute;
                left: 100%;
                margin-left: 25px;
                top: 0;
                width: auto;
                height: 100%;
                object-fit: contain;
            }
        }
        form {
            input {
                border: none;
                border-bottom: 1px solid #fff;
            }
            .button_wrap {
                text-align: right;
            }
            .input_title {
                margin-top: 20px;
                margin-bottom: 0px;
            }
        }
    }
    @media (min-width: $screen_xl) {
        .section_feedback_inner {
            min-height: 716px;
        }
        .form_title {
            font-size: 24px;
        }
        form {
            .input_title {
                font-size: 18px;
            }
        }
    }
}

// === / section_feedback
// --- section_faq
.section_faq {
    .faq_item {
        border-bottom: 1px solid #757575;
        font-size: 14px;
        &__header {
            padding: 20px 40px 20px 0;
        }
        &__description {
            padding: 20px;
            padding-top: 0;
        }
        .faq_question {
            font-weight: bold;
            position: relative;
            img {
                position: absolute;
                right: 10px;
                top: 20px;
                transform: rotateX(180deg);
                transition: .3s;
            }
            &.collapsed img {
                transform: rotate(0deg);
            }
        }
        .faq_answer {
            font-weight: 300;
        }
    }
    @media (min-width: $screen_xl) {
        .faq_item {
            font-size: 24px;
            &__header {
                padding: 20px 40px 20px 20px;
            }
            &__description {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
}

// === / section_faq
// --- section_footer
.section_footer {
    .social_list {
        margin-top: 40px;
        display: flex;
        padding: 0;
        li+li {
            margin-left: 15px;
        }
    }
    .contacts_wrap {
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .contacts_title {
            font-weight: bold;
            font-size: 14px;
            color: #FFCC63;
        }
        .contacts_list {
            padding: 0;
            li {
                line-height: 1;
            }
            a {
                font-size: 13px;
                color: #FFCC63;
            }
        }
    }
    .contacts_mail {
        font-weight: 600;
        font-size: 14px;
        color: #FFCC63;
    }
    .menu_list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 70px;
        li {
            text-align: left;
        }
        a {
            font-weight: normal;
            font-size: 18px;
            color: #FFCC63;
        }
    }
}

// === / section_footer