@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
* {
  box-sizing: border-box; }

.body {
  background: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 18px; }
  .body p {
    font-weight: bold; }
  .body a,
  .body a:hover {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #fff; }
  .body a.brand_label:hover {
    color: #FFCC63; }
  .body ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .body .color_brand {
    color: #FFCC63; }
  .body .button {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Yeseva One', cursive;
    text-align: center;
    border: 2px solid #FFCC63;
    padding: 4px 22px;
    border-radius: 5px;
    font-size: 24px;
    transition: .3s; }
    .body .button__primary {
      color: #fff; }
    .body .button__secondary {
      background-color: rgba(0, 0, 0, 0);
      font-family: 'Inter', sans-serif;
      color: #FFCC63; }
    .body .button:hover {
      background-color: #FFCC63;
      color: #000;
      padding: 4px 22px; }
  .body .social_list img {
    width: 27px; }
  .body .container {
    max-width: 1024px; }
    @media (max-width: 575.98px) {
      .body .container {
        padding-left: 30px;
        padding-right: 30px; } }
    @media (min-width: 576px) and (max-width: 991.98px) {
      .body .container {
        padding-left: 60px;
        padding-right: 60px; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .body .container {
        padding-left: 100px;
        padding-right: 100px; } }
  .body .brand_label {
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
    color: #FFCC63; }
  .body .section_title {
    font-family: 'Yeseva One', cursive; }
    @media (max-width: 575.98px) {
      .body .section_title {
        font-size: 24px;
        margin-bottom: 50px;
        text-align: center; } }
    @media (min-width: 576px) and (max-width: 1199.98px) {
      .body .section_title {
        font-size: 36px;
        margin-bottom: 70px; } }
    @media (min-width: 1200px) {
      .body .section_title {
        font-size: 48px;
        margin-bottom: 100px; } }
  .body .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0; }
  .body .swiper-pagination-bullet {
    border: 1px solid #fff;
    opacity: 1; }
  .body .swiper-pagination-bullet-active {
    background-color: #fff; }
  .body .contacts_area {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .body .contacts_area .contacts_list a {
      font-family: 'Yeseva One', cursive;
      font-size: 14px;
      letter-spacing: 0.05em;
      color: #FFFFFF; }
    .body .contacts_area .social_list {
      margin-top: 30px;
      margin-bottom: 15px;
      display: flex; }
      .body .contacts_area .social_list li + li {
        margin-left: 15px; }
    .body .contacts_area .contacts_mail {
      font-weight: 600;
      font-size: 14px;
      color: #FFCC63; }
  .body.menu_active {
    overflow: hidden; }
    .body.menu_active .menu_button {
      justify-content: center; }
      .body.menu_active .menu_button .button_item__outer {
        opacity: 0; }
      .body.menu_active .menu_button .button_item__middle {
        transform: rotate(45deg); }
        .body.menu_active .menu_button .button_item__middle::after {
          transform: rotate(-90deg); }
    .body.menu_active .menu {
      opacity: 1;
      visibility: visible; }

@media (max-width: 1199.98px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px; } }

@media (min-width: 1200px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px; } }

.header {
  padding: 28px 0; }
  .header .menu_button {
    position: relative;
    z-index: 11;
    margin-top: 6px;
    width: 27px;
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .header .menu_button .button_item {
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #FFCC63;
      transition: .3s; }
      .header .menu_button .button_item__middle {
        position: relative; }
        .header .menu_button .button_item__middle::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #FFCC63;
          transition: .3s; }
  .header .phone_numbers a {
    white-space: nowrap;
    font-size: 16px; }
  @media (max-width: 575.98px) {
    .header .menu {
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: #000;
      opacity: 0;
      visibility: hidden;
      transition: .3s; }
      .header .menu .menu_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 0; }
        .header .menu .menu_list li + li {
          margin-top: 10px; }
        .header .menu .menu_list a {
          font-weight: bold;
          font-size: 24px;
          letter-spacing: 0.02em;
          color: #FFCC63; } }
  @media (min-width: 576px) {
    .header .menu .menu_list {
      display: flex; }
      .header .menu .menu_list li + li {
        margin-left: 20px; }
      .header .menu .menu_list a {
        font-weight: bold;
        font-size: 21px;
        letter-spacing: 0.02em;
        color: #FFCC63; }
    .header .brand_label {
      font-size: 36px; } }
  @media (min-width: 992px) {
    .header .menu .menu_list {
      justify-content: flex-end; }
      .header .menu .menu_list a {
        font-size: 24px; }
    .header .phone_numbers a {
      font-size: 20px; } }
  @media (min-width: 1200px) {
    .header {
      position: absolute;
      z-index: 12;
      left: 0;
      top: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8); }
      .header .container {
        position: relative; }
      .header .phone_numbers_wrap {
        position: absolute;
        right: 0;
        top: 100px; }
      .header .menu .menu_list li {
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        transition: .3s; }
        .header .menu .menu_list li:hover {
          border-color: #FFCC63; }
      .header .menu .menu_list li + li {
        margin-left: 50px; }
      .header .contacts_list {
        width: 140px; } }

.section_intro {
  overflow: hidden;
  position: relative; }
  .section_intro .intro_text {
    position: relative;
    z-index: 1;
    font-family: 'Yeseva One', cursive; }
  @media (max-width: 575.98px) {
    .section_intro {
      background: url(../img/intro-mobile.jpg) no-repeat 50% 50%;
      background-size: cover; }
      .section_intro::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); }
      .section_intro .intro_button {
        margin-top: 50px; }
        .section_intro .intro_button .button {
          width: 100%; } }
  @media (min-width: 576px) {
    .section_intro {
      padding: 0; }
      .section_intro .swiper-intro {
        overflow: hidden;
        position: relative; }
        .section_intro .swiper-intro::after {
          content: "";
          position: absolute;
          z-index: 1;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5); }
        .section_intro .swiper-intro .intro_text {
          position: absolute;
          z-index: 2;
          top: 70px; }
          .section_intro .swiper-intro .intro_text .brand_label {
            font-size: 64px;
            margin-bottom: 40px; }
          .section_intro .swiper-intro .intro_text p {
            font-size: 36px;
            font-weight: normal;
            margin-bottom: 90px; }
        .section_intro .swiper-intro .swiper-button-next {
          color: #FFCC63; }
        .section_intro .swiper-intro .swiper-pagination-fraction {
          bottom: 0px;
          left: 40px;
          width: 100px; }
        .section_intro .swiper-intro .swiper-pagination {
          font-family: 'Yeseva One', cursive;
          font-size: 24px;
          text-align: right; }
          .section_intro .swiper-intro .swiper-pagination .swiper-pagination-current {
            font-size: 36px;
            color: #FFCC63;
            position: relative;
            bottom: 14px;
            left: 6px; }
            .section_intro .swiper-intro .swiper-pagination .swiper-pagination-current::before {
              content: "0";
              margin-right: 2px; }
          .section_intro .swiper-intro .swiper-pagination .swiper-pagination-total {
            position: relative;
            right: 6px; } }
  @media (min-width: 992px) {
    .section_intro .swiper-intro .intro_text {
      position: absolute;
      z-index: 2; }
      .section_intro .swiper-intro .intro_text .brand_label {
        font-size: 64px;
        margin-bottom: 40px; }
    .section_intro .swiper-intro .swiper-pagination-fraction {
      left: 80px; } }
  @media (min-width: 1200px) {
    .section_intro .swiper-intro .swiper-slide img {
      width: 100vw;
      height: 100vh;
      object-fit: cover; }
    .section_intro .swiper-intro .swiper-button-next {
      right: 40px; }
    .section_intro .swiper-intro .intro_text {
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center; }
      .section_intro .swiper-intro .intro_text .brand_label {
        font-size: 96px;
        margin-bottom: 90px; }
      .section_intro .swiper-intro .intro_text p {
        margin-bottom: 100px; }
      .section_intro .swiper-intro .intro_text .swiper-pagination-fraction {
        left: -10px; } }

.section_promo .text_top span {
  color: #FFCC63; }

@media (max-width: 575.98px) {
  .section_promo .text_top {
    font-size: 24px; }
    .section_promo .text_top span {
      color: #FFCC63; }
  .section_promo .promo_image {
    margin-top: 34px;
    background: url(../img/promo-mobile.jpg) no-repeat 50% 50%;
    background-size: cover;
    text-align: center;
    font-family: 'Yeseva One', cursive;
    font-size: 24px;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px #FFCC63;
    padding: 60px 0;
    letter-spacing: 1px; } }

@media (min-width: 576px) {
  .section_promo .text_box {
    font-weight: 400;
    font-size: 22px; }
  .section_promo .image_wrap {
    position: relative; }
    .section_promo .image_wrap::after {
      content: "";
      position: absolute;
      right: 12px;
      bottom: 0;
      width: 80%;
      height: 80%;
      border: 1px solid #FFCC63; }
    .section_promo .image_wrap img {
      position: absolute;
      z-index: 1;
      left: 6px;
      top: 12px;
      width: 80%;
      height: 80%;
      object-fit: cover; } }

@media (min-width: 992px) {
  .section_promo .image_wrap::after {
    width: 85%;
    height: 85%; }
  .section_promo .image_wrap img {
    width: 85%;
    height: 85%; } }

@media (min-width: 1200px) {
  .section_promo .text_box p {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 20px; } }

.section_requirements ul {
  margin: 0 12px; }
  .section_requirements ul li + li {
    margin-top: 20px; }
  .section_requirements ul li {
    font-weight: 600;
    color: #FFFFFF;
    background: url(../img/svg/check-marker.svg) no-repeat 0 6px;
    line-height: 2;
    padding-left: 40px; }

@media (min-width: 576px) {
  .section_requirements ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 170px; }
    .section_requirements ul li {
      width: 50%; } }

@media (min-width: 1200px) {
  .section_requirements ul {
    height: 230px; }
    .section_requirements ul li {
      font-size: 24px;
      background-size: 30px;
      padding-left: 50px; } }

.section_about {
  overflow: hidden; }
  .section_about p {
    font-weight: bold; }
    .section_about p span {
      color: #FFCC63; }
  @media (min-width: 576px) {
    .section_about {
      font-size: 24px; } }

.section_vacancies {
  overflow: hidden;
  position: relative; }
  .section_vacancies .vacancies_item {
    padding: 35px 25px;
    background-color: #fff; }
    .section_vacancies .vacancies_item .vacancies_title {
      margin-top: 20px;
      font-weight: 500;
      font-size: 18px;
      color: #000000; }
    .section_vacancies .vacancies_item .vacancies_subtitle {
      margin-top: 10px;
      font-size: 18px;
      color: #515151; }
    .section_vacancies .vacancies_item .vacancies_description {
      margin-top: 10px;
      font-weight: bold;
      font-size: 12px;
      color: #000000;
      min-height: 75px; }
    .section_vacancies .vacancies_item .button {
      margin-top: 10px;
      font-size: 16px;
      width: 100%; }
  @media (max-width: 575.98px) {
    .section_vacancies .section_title {
      margin-bottom: 0; }
    .section_vacancies .swiper-slide {
      transition: .3s;
      width: 220px;
      margin: 60px 20px 80px;
      position: relative;
      transition: .3s; }
      .section_vacancies .swiper-slide::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: .3s; }
    .section_vacancies .swiper-slide-active {
      transform: scale(1.05); }
      .section_vacancies .swiper-slide-active::after {
        z-index: 2;
        background-color: rgba(0, 0, 0, 0); } }
  @media (min-width: 576px) and (max-width: 991.98px) {
    .section_vacancies .container {
      padding-left: 30px;
      padding-right: 30px; }
    .section_vacancies .section_title {
      padding-left: 40px; } }
  @media (min-width: 576px) {
    .section_vacancies .swiper-wrapper {
      display: flex;
      justify-content: space-between; }
      .section_vacancies .swiper-wrapper .swiper-slide {
        max-width: 220px; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .section_vacancies .container {
      padding-left: 100px;
      padding-right: 100px; }
    .section_vacancies .section_title {
      padding-left: 12px; }
    .section_vacancies .swiper-wrapper .swiper-slide {
      max-width: 252px; } }
  @media (min-width: 1200px) {
    .section_vacancies .swiper-wrapper .swiper-slide {
      max-width: 315px; }
    .section_vacancies .vacancies_item .vacancies_title {
      font-weight: 500;
      font-size: 24px; }
    .section_vacancies .vacancies_item .vacancies_subtitle {
      font-size: 24px; }
    .section_vacancies .vacancies_item .vacancies_description {
      font-weight: bold;
      font-size: 16px;
      min-height: 100px; } }

.section_gallery {
  overflow: hidden; }
  .section_gallery .image_wrap + .image_wrap {
    margin-left: 10px; }
  .section_gallery .image_wrap img {
    width: 100%; }
  @media (min-width: 1200px) {
    .section_gallery .image_wrap + .image_wrap {
      margin-left: 40px; } }

.section_promo_second {
  overflow: hidden; }
  @media (min-width: 1200px) {
    .section_promo_second p {
      font-size: 24px; }
    .section_promo_second img {
      height: 100%; } }

.section_advantages .advantages_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .section_advantages .advantages_item .advantages_icon {
    margin-bottom: 50px; }
    .section_advantages .advantages_item .advantages_icon img {
      height: 150px; }
  .section_advantages .advantages_item .advantages_title {
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 30px; }
  .section_advantages .advantages_item .advantages_description {
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF; }

.section_advantages .swiper-slide {
  padding: 0 20px;
  margin-bottom: 50px; }

@media (min-width: 576px) {
  .section_advantages .advantages_item {
    padding: 0 30px; }
    .section_advantages .advantages_item .advantages_icon {
      margin-bottom: 40px; }
      .section_advantages .advantages_item .advantages_icon img {
        height: 82px; } }

@media (min-width: 1200px) {
  .section_advantages .swiper-wrapper {
    display: flex;
    flex-wrap: wrap; }
    .section_advantages .swiper-wrapper .swiper-slide {
      width: 340px; }
  .section_advantages .advantages_item {
    padding: 0 10px; } }

.section_feedback {
  overflow: hidden; }
  .section_feedback .section_title {
    margin-bottom: 50px; }
  .section_feedback .form_title {
    font-weight: bold;
    font-size: 16px;
    color: #757575; }
    .section_feedback .form_title.active {
      color: #FFFFFF; }
  .section_feedback .nav {
    margin-bottom: 30px; }
  .section_feedback form {
    display: flex;
    flex-direction: column; }
    .section_feedback form .input_title {
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 14px;
      color: #757575; }
    .section_feedback form input {
      margin-bottom: 15px;
      border: 1px solid #fff;
      background-color: #000;
      color: #fff;
      outline: none;
      font-size: 16px;
      padding: 7px; }
    .section_feedback form [type=radio] {
      display: none; }
    .section_feedback form [type=radio]:checked + label .check_area {
      background: url(../img/svg/radio-checked.svg) no-repeat 50% 50%;
      background-size: cover; }
    .section_feedback form .radio_wrap {
      margin-bottom: 15px; }
    .section_feedback form label {
      display: flex; }
    .section_feedback form .check_area {
      display: inline-block;
      margin-right: 20px;
      width: 30px;
      height: 30px;
      border: 1px solid #FFCC63; }
    .section_feedback form span {
      font-weight: bold;
      font-size: 18px;
      color: #C4C4C4; }
    .section_feedback form button {
      margin-top: 25px;
      border: none;
      outline: none; }
  .section_feedback .response-ajax_callback,
  .section_feedback .response-ajax_feedback {
    position: absolute;
    top: 40%;
    opacity: 0;
    visibility: hidden;
    transition: .3s; }
    .section_feedback .response-ajax_callback p,
    .section_feedback .response-ajax_feedback p {
      text-align: center; }
    .section_feedback .response-ajax_callback p.response_title,
    .section_feedback .response-ajax_feedback p.response_title {
      color: #FFCC63;
      font-size: 22px; }
    .section_feedback .response-ajax_callback.active,
    .section_feedback .response-ajax_feedback.active {
      margin-top: 100px;
      position: relative;
      opacity: 1;
      visibility: visible; }
  @media (max-width: 575.98px) {
    .section_feedback .button {
      width: 100%; } }
  @media (min-width: 576px) {
    .section_feedback .section_feedback_outer {
      border: 3px solid #515151;
      padding: 50px 25px; }
    .section_feedback .section_feedback_inner {
      position: relative;
      min-height: 660px; }
      .section_feedback .section_feedback_inner img.feedback {
        position: absolute;
        left: 100%;
        margin-left: 25px;
        top: 0;
        width: auto;
        height: 100%;
        object-fit: contain; }
    .section_feedback form input {
      border: none;
      border-bottom: 1px solid #fff; }
    .section_feedback form .button_wrap {
      text-align: right; }
    .section_feedback form .input_title {
      margin-top: 20px;
      margin-bottom: 0px; } }
  @media (min-width: 1200px) {
    .section_feedback .section_feedback_inner {
      min-height: 716px; }
    .section_feedback .form_title {
      font-size: 24px; }
    .section_feedback form .input_title {
      font-size: 18px; } }

.section_faq .faq_item {
  border-bottom: 1px solid #757575;
  font-size: 14px; }
  .section_faq .faq_item__header {
    padding: 20px 40px 20px 0; }
  .section_faq .faq_item__description {
    padding: 20px;
    padding-top: 0; }
  .section_faq .faq_item .faq_question {
    font-weight: bold;
    position: relative; }
    .section_faq .faq_item .faq_question img {
      position: absolute;
      right: 10px;
      top: 20px;
      transform: rotateX(180deg);
      transition: .3s; }
    .section_faq .faq_item .faq_question.collapsed img {
      transform: rotate(0deg); }
  .section_faq .faq_item .faq_answer {
    font-weight: 300; }

@media (min-width: 1200px) {
  .section_faq .faq_item {
    font-size: 24px; }
    .section_faq .faq_item__header {
      padding: 20px 40px 20px 20px; }
    .section_faq .faq_item__description {
      padding-left: 40px;
      padding-right: 40px; } }

.section_footer .social_list {
  margin-top: 40px;
  display: flex;
  padding: 0; }
  .section_footer .social_list li + li {
    margin-left: 15px; }

.section_footer .contacts_wrap {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .section_footer .contacts_wrap .contacts_title {
    font-weight: bold;
    font-size: 14px;
    color: #FFCC63; }
  .section_footer .contacts_wrap .contacts_list {
    padding: 0; }
    .section_footer .contacts_wrap .contacts_list li {
      line-height: 1; }
    .section_footer .contacts_wrap .contacts_list a {
      font-size: 13px;
      color: #FFCC63; }

.section_footer .contacts_mail {
  font-weight: 600;
  font-size: 14px;
  color: #FFCC63; }

.section_footer .menu_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 70px; }
  .section_footer .menu_list li {
    text-align: left; }
  .section_footer .menu_list a {
    font-weight: normal;
    font-size: 18px;
    color: #FFCC63; }
